
body {
  margin: 0;
  padding: 0;
  background-color: #630E0E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Georgia', serif;
}


.container {
  text-align: center;
}


.logo {
  width: 180px;
  height: auto;
  margin-bottom: 30px;
}


.loading-text {
  color: #FFFFFF;
  font-size: 22px;
}
